
@font-face {
  font-family: 'rooftop';
  src: url('fonts/RooftopBold-Bold.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RooftopBold-Bold';
  src:  url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAABMEAA8AAAAAISAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAS6AAAABwA
AAAc6m66kkdERUYAABJEAAAAHwAAACAAkgAGR1BPUwAAEoQAAABjAAAAeLCiwIVHU1VCAAASZAAA
ACAAAAAgRHZMdU9TLzIAAAHMAAAASgAAAGARqO73Y21hcAAAAwgAAAC2AAABWhJNgMFnYXNwAAAS
PAAAAAgAAAAI//8AA2dseWYAAASEAAALgQAAFaSF6PvoaGVhZAAAAVgAAAA0AAAANgwTE2BoaGVh
AAABjAAAAB0AAAAkBm4C0mhtdHgAAAIYAAAA7wAAAZTUbw6VbG9jYQAAA8AAAADDAAAAzBa3HCJt
YXhwAAABrAAAAB4AAAAgAKwAPW5hbWUAABAIAAABjAAABB1chMvUcG9zdAAAEZQAAACmAAAA7ApV
CvR42mNgZGBgYGRwdN4RrBLPb/OVgZv5BVCE4crV5zNh9P9v/32YA5n3ANVxMDCBRAGOoQ77eNpj
YGRgYFb9LwAkY/5/A5KBDEARFJAKAGLVBEcAAAB42mNgZGBgSGWwYmBlAAEmIGZkAIk5gPkMABL9
AOoAAHjaY2BmUmHaw8DKwMDUxRTBwMDgDaEZ4xgCGP4wIIEGBgZ9BwYGD2QxBgUGBSUhplv/nRic
mFUZPgBFGEHCTOeZzoNlmQAaGguWAAB42mP4xQAGjL5AAshmlGawYQxh0GBqAGIJBklmawY5pgsM
ygzPgOLJDFpAzMC4j4GBSQ1IKzFoMDoAsTNDAOMSBgZmDyBbnMGNqRKol+P/NyYnIFZl4GcyY1Bm
/ADUo8WgDGaD1GsD1aghYU0GOeYgIL2MgYtJjMGNWQDIrmZwY7wPxNeAfE8gvwbIFgbiFKBZoUC6
H2jXUyDeC5S3B8rLAukYIG0HFAO6nfEJgwjTRgZHpjCg26KB5qYA+epgvSJAPzKA3AyimQyA9AMg
lqDAfk889mcxcGHYnwG2fwGIZrJh0ASKQ+wGhgUA2P46rgB42mNgYGBmgGAZBkYGEAgB8hjBfBYG
CyDNxcDBwASEdQyLGQ4qCf3/DxRTgLH/P/6///+ie0FQvVDAyMYAF2BkAhJMDKgAKMnMwsrGzsHJ
xc3Dy8cvICgkLCIqJi4hKSUtIysnr6CopKyiqqauoamlraOrp29gaGRsYmpmbmFpZW1ja2fv4Ojk
7OLq5u7h6eXt4+vnHxAYFBwSGhYeERkVHRMbF5+QyEAESGKgHCTjkgAACZkihwAAeNpjYIADGQYj
hhiGFQzvGG0YvRhTGOvAsIdxBuMaIDzDeIuJhcmBKYaph2kb0wlmFmY95gDmHOYG5inMK5hvsGiw
OLAUsMxg2cZyhuUBKw+rCqsBqwtrDGsOaxvrHNYDrI/YhNjM2ErY2tiWsO1gu8H2hZ2LXQEKTdid
2APYM9hnsB9gv8f+hYODw4TDhyOCI4ejhWMKxzqOIxwvOLk4rTjjOOdwruM8w/mAi4FLhsuIywMI
w4CwimsF1xGuSwCEDS7fAHja7ViNV1PnGX+fG0kKCIr5AgUkuZIECBBycwlowAAhQAWqKEplBj0E
RddSiw7R+Zmq0RU1itrWqqW1uB7Xczbbcuy6rh92a90qNtW1PZsruNa6rvU4t9buHFdu9rzvDWC7
P6Em3Htz733f530+fs/vdy+EI67IdTLMhYmCJBDiVAgKnUbJG02OQsG+gu+dYbUZDTabwfgFXJOm
PurJz/fkE/xwxAJnwcrmqQgBBc++YI1bHGfBjQtL/4ZEurGxuGviniPTyHRCMnktL7JNFNgmaNmm
5bUCvcE1+Tt6Ovz4kQ8Xe/roZ2X/yv34Wdnf34/rK0hK5AjcVhQRnmQRdClTo1ShzTwwO3V60WTO
A9FR6ES7Or3KZNamgz4dQKMXE0FdirfMcLuzsaiqm2/PmmePKXG31xatmrUs2RqXG1dSI71n16Wu
Sp3h/sP8jfGNC5R1rqrq+AspCmNzZe3DsY2NiU0VM+IHYrQxhpUwJctw6J4sqSQ2Py0/i5AYkh65
rlBzV0ksSSI6kkFy0NuxjCo1Onuhw2TMzAEQwD6a6in2QtFh4o1KrQbW+L1Vfn+Vd7+11Got5SZM
WCvVdcOD7Jrfby7NtWZMz+G29vj9Pf7ttWLhvWLJSD64/eyC9F/RlCmKmSbCcsRHrnNn0Jfp6IVA
M2+m69HE0J1g12kxa3pc2yzgTxXoaWpkP9R2pxkPOu7MsanzWoInq0pmrq2/r7Pee0IZ1xVvkV5K
yM8zpelz/XnWVyoXQpr9YEfpAkP9zPseWDVv5r2GgaTJNtEulM2GzkSdKSXVwE/NlFYlhbPE4nup
b0BccJacYvghakTOqTHQ4L3syDZoVdSSiZhQlYmjDusTAZPT6vNt2rzEV+c3+BaRSOjAt4t81e+u
fYfaIzinWJ6jN9N0mp3pOEXp85321/mWbN60xffmO2vfrfYt+vZAKCL7YIkMkoskQH1wqnjnxaaG
1MDAQPQeeQ2SwUrvZSJKIfnmzdc68Ppc7JevyF6sLykcq+tX0S5pGW0QxDziIANzryKT8DxDN1mZ
YZpMWPWVGlCCa2hI+t0Q6M6HQudD3FV6MgQuqf1A+MCBMK7jxVnv4/wJmB+nkMR7u7SPcjtaRlKj
/VSF9yaRFPTOoDWoGdxpPVXCDI1OoMvwRqgCMvK3W/dv6A33OkF6u9JW4PEU2AIBSIvb3Lhs9+5l
c8t/u7CkZGEJgcg3ketwBW2ibWCJw9BoCgWGzRwQhVGQqsylIGMHOu2ug+0Nj6RsiS81FXgaG6YY
nbXFlmnW2O5pPy5fGrTBupT7Rd/O+72WdFOxpTA3YJ/BC4aUkuKqLYvz6mmeIt/grhxxEEf5BygL
8KJBBEEhquB8V1dQOg2LtgR7ILH78OFkziiVfvYZq88kxLYK56XhSbSRxt3ljSqzUz0LtLyqEOJX
9h7tiDrprKst8hY2Qda2f0YSc+GTg+EDzDlvQWG5xa6F+YGfTpL5jfaOGu0nkmS2AoZLW8fJqwUV
xxZh7Wr079l/YX8mvNkXFH0VFb4K+HvvilWPPbbKOxt8X0i7qgVHdbVDkDFFd9fQZgwhSQbg1QYk
1St9t6TPuPCIjasf61kV1kGNbGkercV401JHKIIojyjGaUMHz+aJe8/tFfPc659ff9qVk+PKqbG6
3dbc2bPhkfRmcenu3UvF5vRZDU0bNzY1nMinQJVKXNk5LldOtovGi0FT3pLjRRwpeKfKKC8ZQ5dj
EXPqTDj7VJBrpVFLhyt85eUY8qfe2dIzXwALfDmLt7qa5pD1CvRjr6gJmTLWLVP+r29s0SN0sQaS
XrmzjwbJZWYj4U4bCievuhydVdC0N3V0pmW8fzUgYU6VhOSCmKlNAJCkbPhQ+g1Uam7NvRV48knZ
PukDCblI1jGDaEjCLToUN/D5pSH/d+1BjIgmY9igSrT3IcRSc4Fb1B7yP/yH8X86MsQYbtTsF7bR
nV30F4/N5smf1957alPsnBZPgaEocZ2ha180LG7H7mUrewNVQk7J9KklxZVR3Y3UKrI5D8klxUz1
eOMoqQt2PepdtFQyKrAbnPro7QxdzB2XFdmtC712+1zv4kWzazI7eDt/fEPnL55dP6vO2v3g6ycv
D4NnWDptSc/MycnMMF178CG7fXnTohV2yzmeLyzq6v15V3efNs3S8VH/iT+/9eucYmduXqGd5j0O
nTyKGL+HkFjg44GHWQA/AvfhF188DG7FRAp1OCPV4BCGd+Q5uIEnCaiWmDEDn8S4RcVwb46SjzZJ
62ScBurBXy3eWppTsLWZtxUYvVkUOlwYIe2YOt/RtClg440FJ2HwJNg8BVGOv859jvXQY7bsTEcw
HZOp+OlVefhbSXunfHVGp/B82/GhoeNtzwudGavLl4dCHRVFngVtSMpDbQsqiyuQmGn+0V9uPvrL
eB2rOhmLmqSmzuHxy0OXLh3q7/dt3+5L58KXpA8vYbgvBF8LSg4iczqcwbnx6IsWgUYfeXDDdOyD
h78cHAwEuHCgL3BqdOzLOBZ1BtiwJB454+UvBwaC0MnV9wWkP3FhOT5FAsY3jaJXpm1Z2/G5ZxwE
POyBrR89/uTloeNL+sSOOevbQo+2etdMuwrbU48PDR87PtRYU9veu6L9QEO53D80zkLZV0D5YV8h
SYBfBoOf4B8ro5X6IA2NjieDsp4LOHIwGKQVprp8HdLlOLQU/GhEoyxr3PWMZlN9HZyXHD09Y+t5
mQ4gBhRsMbWg4LxPXAkGf//EDSiVzuJan0Ka9NzoeNgnc6lTwGQKg2elM0GawXH/n5L9j2UBqMzU
KKyBZE2w/2RQA/ugDGMIDQxIq9kkec462Vc1G4xO8INBHRwM6uGg9AD3nuSDEyO2UX03sD5XM32Y
rGS4UsvSS1HVf2wYEzs8fLwtFGpDPHFXh6W3h4dh5vDIz3ov9N6Bp1gWt3pUZxDvPIWUDH3Q0Pne
XRdyy8pyMUP7lreFUESkxz35toprUU44p3Aw7kY1zFSZlaMQxz6KwQc5pz5KCRqdwtHc6ltDvTo2
XCe9X+pYurjVxNwzLm6dTZ0bPra1TZuGl0urVzAnZR8d0R7F6phRo5OiT48KbVRxOcepvbad55eH
ql0ve/Pc7rxr6GSorXLtdJhzrcKW78H8piAWbqOfWVHmGlfsPE5+Yr8Dt+kK+sh+O9hy305Tu64+
31yUnVsXX+LubnS1Zyzj3dOt+hyTc2JJzbnmbfXlVeY8MXNawVSTEp/S5/+kyFYh5Bs0M9I0KUrD
SlpbDe7CrG+xnyiakeXDR3YdgVe5+pEXuPoAjilDrqBYSGKYl3uJ4pW2kAj/CD69ruvpYOMsVyOm
37Hx6NGNFL/u5ma3rO3cQpxL9UFA1hPU8MZh6ePJ0seHDzF5D0tro/yomMdyycZRghSmIUequTf2
SzcTd+6YJP0rFNzBJexgLdYp7cWZe2CNtEfGNcbBzY32pULNm1W8WiHondzcDz44sn37kQ/eeqJr
G854Wtp34wY8DC1Xr449e3BmmZeBthebZH4/+N6hLZupb9KrUA27JGl0jTI5V7FIKgaURa5MGoA5
I5egVhqinBagGWN2wc3ZonHTaNQCZ+vr7u77aze4IVn6HELR9SO1cCXyCuWHGKqwV6QMuPJSh8zR
8DW5yW1l7wK8Wbi5uCMAX/fI8+7qyV09uasnd/Xkh6YnlPeWfldP/vhD0JO+yFGYoJjIdIK2zAS/
369YLa+ZRS5yajjCcq/DbOYBFpY3YZXlsnNqlacyf+4s21S/qsaNP5JTUiDU0mKxpGUtWWaxpGaP
vhvSHrlK0e1Ed0TkM6fwPZrTI0UqX4dqyVozoSlVTHhkoQwTQ+E9p56LCQQCuRs6HtI1dFFk2DLS
2js2yO9nTK8Ur2Ks8WOKJdD/Lt0hWpubGtLGdes6vrJSn27je2g7+3/T2BvobdTH/wF7/Z1mAAAA
eNrVkj1rwmAQx/9PjNVKkQ4dOnQ4aAcdDImDSDYVpLPQDxBN1GDkkRgEoWPHfpNCv0CHDp279IN0
7NxLPOtL36BbA8n97rj/3T3PBcAJ3qCwepqIhRUKeBA2YOJZOIcLdSZs4lgNhPMoqBvhA47fCxfg
GOfCRRwZWriEpvHK1ZR5yN4sq5yyQhl3wgYrnoRzuMSLsAlSLeE8yioRPuD4rXABffUoXMSpcSVc
wsy4Rgeaey75tCFGGCMBoYIBqmzrsOGgwdTnDEKPczWGnJNqCF3WRJjCYm4xRWw3deaZF7AN2C74
63MmOnq2jMPROKHKoEp122lQf0k9rYeJnlE3jKYWtaKIspw5xcE8iBeBz8rd9hAJ0GY/4uJo68jf
T1vP6H4x/1q4IXfr1OsG6Ujux4Bpj+zjZrPvt1sXqm2mEmWqqa0mtLMOVmZtdm3Hsm37T6V+PxLx
BaSr8PhNeBEexwK+EI95wrFU/dNq8enkFM7JoyT2/GDqxRPSw9314dtq2M7DP/r33gGrgsLmeNpt
zkVSAgAAQNEnKnZhF0iIgordiAomdnctPIo3c+NpOIIyrnkzf/8F/Pv9dq6Sz3JVAqrVqBVUp16D
Rk2atWjVpl2HkE5duvXo1affgEFDhoVFjIiKiUsYlTRmXErahElTMqbNmDVn3oJFS5atWLVmXdaG
nE1btuUV7Ni1Z9+BQ0VHjp04dVb+vnDpyrUbt+7ce/DoybMXr968+/DlR+kPVpQXSQAAAAAAAf//
AAJ42mNgZGBg4ANiCQYQYGJgZGBmSAGSLGAeAwAIsACZAAABAAAACgAcAB4AAURGTFQACAAEAAAA
AP//AAAAAAAAeNpjYGRgYOBikGPQYWB0cfMJYeBgYAGKMPz/zwCSYcxOLcoDijFAeEA5JjDNAcRG
YJWsDCIMUgwKDGogExhU/h8Bkqb/3wBJy/83QKrAbLP/34AkK4MmgxZQnymDOQBMghGNAAAAAAEA
AAAAxmW3ygAAAABPNVIXAAAAANTTsLA=) format('woff'), url('fonts/RooftopBold-Bold.ttf')  format('truetype'), url('fonts/RooftopBold-Bold.svg#RooftopBold-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}




.desktop {
  display: none;
}

.mobile-nav img {
  width: 20%;
  float: left;
  display: block;
}

.desktop-nav {
  background: #000;
}

.mobile-nav {
  font-family: rooftop;
  background: #000;
  position: absolute;
    top: 0;
    z-index: 99;
    text-align: center;
}


.mobile-nav p:first-child {
    display: inline-block;
    font-size: 1.7em;
    color: #fff;
    padding: 10px;
    margin: 0;
    letter-spacing: 1px;
    float: left;
}

.mobile-nav p:first-child:hover {
  color: rgba(255,0,0, 0.7);
}

.mobile-nav p span {
        font-size: 15px;
    vertical-align: middle;
    letter-spacing: 2px;
}

.nav-button {
      display: inline-block;
    font-size: 1.7em;
    color: #fff;
    background: #000;
    padding: 10px;
    margin: 0;
    float: right;
}

.nav-button:hover {
  color: rgba(255,0,0, .7);
  cursor: pointer;
}


/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 0;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.9); /* Black fallback color */
    background-color: rgba(255, 255, 255, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #000;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: rgba(255,0,0, .7);
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}


/* Sticky Nav */

#navbar {
  overflow: hidden;
  background-color: #000;
  z-index: 900;
}

#navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 15px;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 600;
  text-decoration: none;
  font-family: rooftop;
  color: #fff;
}

#navbar a:hover {
  color: rgba(255,0,0, 0.9);
  cursor: pointer;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: .9;
}


/* Slider */

.slider-wrapper{
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-list,
.slick-track,
.slick-slide,
.slick-slide img {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  zoom: 1;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

.slick-slide img {
  display: block;
  max-width: 100%;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-slide > .slick-slider-img {
  position: relative;
  display: block;
  width: 100%;
}

.slick-slide .image {
  /*height: 180px;*/
}

.slick-slide img {
  display: block;
  width: 100%;
}

.slick-slide img.slick-loading {
  display: none;
}

.info {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    line-height: 100vh;
    text-align: center;
}

.info:hover {
   transition: .5s ease;
  background: rgba(0,0,0,.50);
}

.info > div {
    display: inline-block!important;
    vertical-align: middle;
    color: #fff;
}

.info h3 {
  font-family: rooftop;
  letter-spacing: 3px;

}

.title {
  position: absolute;
  top: 45%;
  left: 25%;
}


.left:after{
  background: #DDD;
   content: "<";
  border: none;
  border-radius: none;
  position: absolute;
  top: 45%;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
  left: 0;
  padding: 0.25em 0.5em;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.25);
  cursor: pointer;
}


.right:before{
  background: #DDD;
  content: ">";
  border: none;
  border-radius: none;
  position: absolute;
  top: 45%;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
  right: 0;
  padding: 0.25em 0.5em;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.25);
  cursor: pointer;
}

/* progress bar */
.slider-progress {
  width: 100%;
  height: 10px;
  background: rgba(0,0,0,0.5);
  position: absolute;
  bottom: 0;
}
.slider-progress .progress {
  width: 0%;
  height: 10px;
  background: #fff;
}



.featured-stories {
  display: block;
  padding: 20px;
}

.featured-text h1 {
  font-family: rooftop;
    font-weight: 700;
    font-size: 1em;
    letter-spacing: 1px;
}

.featured-text p {
  font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: .8em;
    line-height: 27px;
}

.featured-work {
  display: block;
  padding: 20px 20px 0 20px;
}

.featured-work-second {
  padding-top: 0;
}


.featured-work-text {
  text-align: right;
  display: none;
}

.featured-work-text p {
 font-family: rooftop;
    margin: 0;
    padding: 0;
    font-size: 2.1em;
    letter-spacing: 14px;
    max-width: 220px;
    float: right;
    display: block;
}

.social {
  display: block;
    float: right;
    clear: both;
    padding-right: 15px;
}

.featured-work-text a {
  font-size: 2.1em;
  padding: 5px;
}

.fa {
  color: #000;
}

.fa:hover {
  color: #f00 !important;
}

.article-container {
  position: relative;
  width: 100%;
  padding: 0px;
  margin-bottom: 20px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.article-overlay {
  position: absolute;
    top: 6%;
    bottom: 0;
    left: 5%;
    right: 0;
    height: 90%;
    width: 90%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(255,0,0); /* Black fallback color */
    background-color: rgba(255,0,0, 0.7); /* Black w/opacity */
}

.article-container:hover .article-overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-family: rooftop;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
}

.feature {
  display: block;
}

.feature .article-container {
  padding: 0;
}

.feature .article-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(255,0,0);
    background-color: rgba(255,0,0, 0.7);
}

.feature img {
  width: 100%;
}

.footer {
  display: block;
  background-color: #000;
  color: #fff;
  font-family: rooftop;
  text-align: center;
  margin: 50px 0 0 0;
}

.footer p {
  margin: 0;
  padding: 20px;
  letter-spacing: 3px;
  font-size: 20px;
}

.footer p span {
  font-size: 15px;
    vertical-align: middle;
    letter-spacing: 2px;
}



/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}


@media screen and (min-width: 550px) {



.mobile-nav p:first-child {
    padding: 10px 0 10px 30px;
}


.nav-button {
    padding: 10px 30px 10px 10px ;
  }

.featured-text {
  width: 100% !important;
  /*width: 30.6666666667%;*/
}

.featured-stories-articles {
  width: 100% !important;
  /*width: 65.3333333333%;*/
  margin: 0;
}

.article-container {
  width: 32.5%;
  display: inline-block;
}

.feature .article-container {
  width: 100%;
  display: block;
}

.featured-work-articles {
  width: 100% !important;
  /*width: 65.3333333333%;*/
  margin: 0;
}

.featured-work-text {
  width: 100% !important;
  /*width: 30.6666666667%;*/
  padding-top: 20px;
}

.featured-work-text p {
 font-family: rooftop;
    margin: 0;
    padding: 0;
    font-size: 2.1em;
    letter-spacing: 14px;
    max-width: 100%;
    float: right;
    display: block;
}

.title {
  position: absolute;
  top: 45%;
  left: 25%;
}

.info h3 {
    font-family: rooftop;
    letter-spacing: 3px;
    font-size: 50px;
}


}/*End min-width 550px*/


@media screen and (min-width: 1020px) {

.mobile {
    display: none;
}

.dkestop-nav {
  padding: 20px;
  display: block;
}

.logo {
  margin-left: 2% !important;
    padding: 10px;
}

.logo h1 {
  font-size: 32px;
  color: #fff;
  letter-spacing: 1px;
  padding-top: 5px !important;
}

.logo a {
  padding: 0 !important;
}

.logo a h1:hover {
  color: rgba(255,0,0, 0.7)
}

.logo h1 span {
   font-size: 15px;
    vertical-align: middle;
    letter-spacing: 2px;
}

.logo h1 {
  margin: 0;
  padding: 0;
  font-family: rooftop;
}

.nav {
      width: 63.333333% !important;
      display: block;
}

.nav ul {
  list-style: none;
  margin: 0;
  float: right;
      margin-right: 2% !important;
}

.nav ul li {
  display: inline-block;
    margin: 0;
    margin-top:10px;
}


.featured-text {
  width: 30.6666666667% !important;
  margin-left: 2% !important;
  padding: 10px;
}

.featured-text p {
  margin: 0;
}

.featured-stories-articles {
  width: 65.3333333333% !important;
  margin: 0;
  text-align: center;
}

.article-container {
  padding: 10px;
  margin: 0;
}

.featured-work-articles {
  width: 65.3333333333% !important;
  margin: 0;
}

.featured-work-text {
  width: 30.6666666667% !important;
  padding-top: 20px;
}

.mobile {
  display: none;
}

.desktop {
  display: block;
}

.desktop-featured-work {
  margin: 0;
  text-align: right;
}

.featured-work-text p {
  font-size: 3.6em;
}

.shortproject {
  margin-left: 2%;
  padding: 10px 0 5px 0;
}


.shortproject .text {
  left: 58%;
}

.title {
  position: absolute;
  top: 45%;
  left: 35%;
}

.info h3 {
    font-family: rooftop;
    letter-spacing: 3px;
    font-size: 50px;
}

.featured-work-text {
  display: block;
}


  }/*End min-width 1020px*/
